[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-image = "*"
scipy = "*"
tifffile = "*"
matplotlib = "*"
csbdeep = "*"
stardist = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.7"
